<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="row justify-content-center">
        <div class="col-4 bg-light">
            <form method="POST" action="/registro/create">
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                    <label for="pass" class="form-label">Pass:</label>
                    <input type="password" class="form-control" id="pass">
                </div>
                <div class="form-group">
                    <label for="mail" class="form-label">Mail:</label>
                    <input type="email" class="form-control" id="mail">
                </div>
                <button type="submit" class="btn btn-primary">Registrate :D</button>
            </form>
        </div>
    </div>
</div>