<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="container">
        <div class="row align-items-center" style="height : 100vh">
            <div class="col-12 text-light mt-4">
                <div class="d-grid gap-2">
                    <a href="/admin/categorias" class="btn btn-info">Categorias ABM</a>
                    <a href="/admin/productos" class="btn btn-info">Productos ABM</a>
                    <a href="/admin/usuarios" class="btn btn-info">Usuarios ABM</a>
                    <a href="/admin/empleados" class="btn btn-info">Empleados ABM</a>
                </div>
            </div>
        </div>
    </div>
</div>