<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-7 text-light mt-3">
            <form method="post" action="/login/logged">
                <div class="form-group">
                    <label for="username">Nombre de usuario<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="pass" id="pass">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-info mt-3">Iniciar sesion 😎</button>
                </div>
            </form>
            <p class="text-danger">{{message}}</p>
        </div>

    </div>
</div>