<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-7 text-light">
            <form method="post" action="/registro/create">
                <div class="form-group">
                    <label for="username">Nombre de usuario<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="pass" id="pass">
                </div>
                <div class="form-group">
                    <label for="mail">Mail<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="mail" id="mail">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="telefono" id="telefono">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-info mt-3">Registrate :D</button>
                </div>
            </form>
        </div>

    </div>
</div>