<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-7">
            <h2 class="text-danger text-center">NECESITAS SER ADMINISTRADOR PARA ACCEDER</h1>
        </div>
        <div class="col-6">
            <img src="images/401.jpg" class="mt-4">
        </div>
        <div class="col-8">
            <a href="/productos" class="btn btn-info mt-4">Volver a home</a>
        </div>
    </div>
</div>