<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="no hay imagen">
                <div class="card-body">
                    <h5 class="card-title">{{usuario.username}}</h5>
                    <p class="card-text">mail: {{usuario.mail}}</p>
                    <p class="card-text">telefono: {{usuario.telefono}}</p>
                    <p class="card-text">fecha de creacion: {{usuario.ts_create}}</p>
                    <a href="/usuarios/edit" class="btn btn-info">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>