<div class="container-fluid bg-dark m-0" style="height : 100vh">
    <div class="row justify-content-center">
        <div class="col-4 bg-light">
            <form method="POST" action="/usuarios/registro">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Ingrese su username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pass" placeholder="Ingrese su pass">
                </div>
                <button type="submit" class="btn btn-info">Registrate :D</button>
            </form>
        </div>
    </div>
</div>